{% extends 'backend/master.html.twig' %}
{% block title %}Listagem de produtos{% endblock %}
{% block contentTitle %}Listagem de produtos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Listagem de produtos</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% embed 'backend/component/pagination/record_details.html.twig' with {paginator: products} %}{% endembed %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Preço Mínimo</th>
                                    <th>Preço Máximo</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{% embed 'backend/component/identifier/product.html.twig'
                                                with {product: product} %}{% endembed %}</td>
                                        <td>
                                            {% if product.lowestPriceItem != null %}
                                                {{ product.lowestPriceItem.pricePerUnit|number_format(2, '.', ',') }}€ |
                                                {% embed 'backend/component/identifier/invoice.html.twig'
                                                    with {invoice: product.lowestPriceItem.invoice } %}{% endembed %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if product.highestPriceItem != null %}
                                                {{ product.highestPriceItem.pricePerUnit|number_format(2, '.', ',') }}€ |
                                                {% embed 'backend/component/identifier/invoice.html.twig'
                                                    with {invoice: product.highestPriceItem.invoice } %}{% endembed %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('backend_product_product_edit', {'id': product.id}) }}"
                                               class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                                <span class="text">Editar</span>
                                            </a>
                                            {{ include('backend/product/product/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Não foram encontrados resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Preço Mínimo</th>
                                    <th>Preço Máximo</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                        {% embed 'backend/component/pagination/pagination.html.twig' with {paginator: products} %}{% endembed %}
                    </div>

                    <a href="{{ path('backend_product_product_new') }}"
                       class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Criar novo</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
