{% extends 'backend/master.html.twig' %}

{% block title %}Detalhes do produto: {{ product.name }}{% endblock %}
{% block contentTitle %}Detalhes do produto: {{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Detalhes do produto: {{ product.name }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>Nome: </strong> {{ product.name }}<br/>
                                {% if product.category is not null %}
                                    <strong>Categoria: </strong> {% embed 'backend/component/identifier/category.html.twig' with {category: product.category} %}{% endembed %}
                                    <br/>
                                {% endif %}
                                <strong>Descrição: </strong> {{ product.description }}<br/>
                                {% if product.lowestPriceItem != null %}
                                    <strong>Preço mínimo de
                                        venda: </strong> {{ product.lowestPriceItem.pricePerUnit|number_format(2, ',', '.') }}€
                                    <br/>
                                {% endif %}
                                {% if product.highestPriceItem != null %}
                                    <strong>Preço máximo de
                                        venda: </strong> {{ product.highestPriceItem.pricePerUnit|number_format(2, ',', '.') }}€
                                    <br/>
                                {% endif %}
                                <strong>Preço médio de
                                    venda: </strong> {{ product.averagePrice|number_format(2, ',', '.') }}€<br/>
                                <strong>Valor total
                                    transacionado: </strong> {{ product.totalPrice|number_format(2, ',', '.') }}€<br/>
                                <strong>Quantidade total
                                    transacionada: </strong> {{ product.totalQuantitySold|number_format(2, ',', '.') }}{{ product.unit }}
                                <br/>

                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-5">
                        <div class="col-12">
                            <h2 class="fw-300 text-center">Gráfico para o ano {{ statsYear }}</h2>
                            {{ chart(stats) }}
                            <form action="" method="get">
                                <div class="form-row justify-content-center">
                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="number" class="form-control" min="0" step="1" name="year"
                                                       value="{{ statsYear }}"/>
                                            </div>
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary">OK</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h3>Empresas que já compraram</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in product.buyingCompanies %}
                                        <tr>
                                            <td>{% embed 'backend/component/identifier/company.html.twig'
                                                    with {company: company} %}{% endembed %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- col -->


                        <div class="col-12 col-md-6">
                            <h3>Empresas que já venderam</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in product.sellingCompanies %}
                                        <tr>
                                            <td>{% embed 'backend/component/identifier/company.html.twig'
                                                    with {company: company} %}{% endembed %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('backend_product_product_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Voltar à lista</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}