{% extends 'backend/master.html.twig' %}
{% block title %}Listagem de operações{% endblock %}
{% block contentTitle %}Listagem de operações{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Listagem de operações</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% embed 'backend/component/pagination/header.html.twig' with {paginator: operations} %}{% endembed %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Veículo</th>
                                    <th>Tipo de Operação</th>
                                    <th>{% embed 'backend/component/pagination/ordered_property.html.twig' with {text: "Preço", property: "price"} %}{% endembed %}</th>
                                    <th>{% embed 'backend/component/pagination/ordered_property.html.twig' with {text: "Data", property: "date"} %}{% endembed %}</th>
                                    <th>Notas</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operation in operations %}
                                    {# @var operation \App\Entity\Vehicle\Operation #}
                                    <tr>
                                        <td>
                                            {% embed 'backend/component/identifier/vehicle.html.twig'
                                                with {vehicle: operation.vehicle} %}{% endembed %}
                                        </td>
                                        <td>
                                            {{ operation.operationType.name }}
                                        </td>
                                        <td>
                                            {{ operation.price|number_format(2, ',', '.') }}€
                                        </td>
                                        <td>
                                            {{ operation.date|date("d-m-Y") }}
                                        </td>
                                        <td>
                                            {{ operation.notes }}
                                        </td>
                                        <td>
                                            <a href="{{ path('backend_vehicle_operation_edit', {'id': operation.id}) }}"
                                               class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            {{ include('backend/vehicle/operation/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Não foram encontrados resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Veículo</th>
                                    <th>Tipo de Operação</th>
                                    <th>Preço</th>
                                    <th>Data</th>
                                    <th>Notas</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                        {% embed 'backend/component/pagination/footer.html.twig' with {paginator: operations} %}{% endembed %}
                    </div>

                    <a href="{{ path('backend_vehicle_operation_new') }}"
                       class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Criar novo</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
