{% extends 'backend/master.html.twig' %}
{% block title %}Empresas clientes e fornecedoras{% endblock %}
{% block contentTitle %}Empresas clientes e fornecedoras{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Empresas clientes e fornecedoras</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        {% embed 'backend/component/pagination/header.html.twig' with {pagination: companies} %}{% endembed %}
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr>
                                    <th>{% embed 'backend/component/pagination/ordered_property.html.twig' with {text: "Nome", property: "name"} %}{% endembed %}</th>
                                    <th>{% embed 'backend/component/pagination/ordered_property.html.twig' with {text: "Nif", property: "nif"} %}{% endembed %}</th>
                                    <th>{% embed 'backend/component/pagination/ordered_property.html.twig' with {text: "Morada", property: "address"} %}{% endembed %}</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for company in companies %}
                                    <tr>
                                        <td>{% embed 'backend/component/identifier/company.html.twig'
                                                with {company: company} %}{% endembed %}</td>
                                        <td>{{ company.nif }}</td>
                                        <td>{{ company.address }}</td>
                                        <td>
                                            <a href="{{ path('backend_company_company_edit', {'id': company.id}) }}"
                                               class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            {{ include('backend/company/company/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Não foram encontrados resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Nif</th>
                                    <th>Morada</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                        {% embed 'backend/component/pagination/footer.html.twig' with {pagination: companies} %}{% endembed %}
                    </div>

                    <a href="{{ path('backend_company_company_new') }}"
                       class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Criar nova</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
