{% extends 'backend/master.html.twig' %}

{% block title %}Detalhes da categoria: {{ category.name }}{% endblock %}
{% block contentTitle %}Detalhes da categoria: {{ category.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Detalhes da categoria: {{ category.name}}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>Nome: </strong> {{ category.name }}

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3>Produtos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in category.products %}
                                        <tr>
                                            <td>{% embed 'backend/component/identifier/product.html.twig'
                                                    with {product: product} %}{% endembed %}</td>
                                            <td>{{ product.description }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!-- col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('backend_product_category_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Voltar à lista</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
