{% extends 'backend/master.html.twig' %}
{% block title %}Listagem de faturas{% endblock %}
{% block contentTitle %}Listagem de faturas{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Listagem de faturas</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Data</th>
                                    <th>Emissor</th>
                                    <th>Cliente</th>
                                    <th>Valor</th>
                                    <th>Pago</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                    <tr>
                                        <td>{% embed 'backend/component/identifier/invoice.html.twig'
                                                with {invoice: invoice} %}{% endembed %}</td>
                                        <td>{{ invoice.date|date("d/m/Y") }}</td>
                                        <td>{% embed 'backend/component/identifier/company.html.twig'
                                                with {company: invoice.issuer} %}{% endembed %}</td>
                                        <td>{% embed 'backend/component/identifier/company.html.twig'
                                                with {company: invoice.client} %}{% endembed %}</td>
                                        <td>{{ invoice.total|number_format(2, ".", ".") }}€</td>
                                        <td>{{ invoice.paid ?
                                            '<span class="badge badge-success">Sim</span>'
                                            : '<span class="badge badge-danger">Não</span>' }}
                                        </td>
                                        <td>
                                            <a href="{{ path('backend_invoice_invoice_edit', {'id': invoice.id}) }}"
                                               class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                                <span class="text">Editar</span>
                                            </a>
                                            {{ include('backend/invoice/invoice/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Não foram encontrados resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Número</th>
                                    <th>Data</th>
                                    <th>Emissor</th>
                                    <th>Cliente</th>
                                    <th>Valor</th>
                                    <th>Pago</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="{{ path('backend_invoice_invoice_new') }}"
                       class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Criar nova</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
