{% extends 'backend/master.html.twig' %}

{% block title %}Fatura #{{ invoice.number }} emitida por {{ invoice.issuer.name }} -> {{ invoice.client.name }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Fatura #{{ invoice.number }} emitida por
                        {% embed 'backend/component/identifier/company.html.twig' with {company: invoice.issuer} %}{% endembed %} ->
                        {% embed 'backend/component/identifier/company.html.twig' with {company: invoice.client} %}{% endembed %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>Número:</strong>#{{ invoice.number }}<br />
                                <strong>Data:</strong>{{ invoice.date|date("d/m/Y") }}<br />
                                <strong>Emissor:</strong>{% embed 'backend/component/identifier/company.html.twig'
                                    with {company: invoice.issuer} %}{% endembed %}<br />
                                <strong>Cliente:</strong>{% embed 'backend/component/identifier/company.html.twig'
                                    with {company: invoice.client} %}{% endembed %}<br />
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3>Produtos comprados</h3>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                        <th>Preço/Unidade</th>
                                        <th>Refúgo</th>
                                        <th>Subtotal</th>
                                        <th class="text-right">Total</th>
                                        <th class="text-right">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in invoice.items %}
                                        <tr>
                                            <td>{% embed 'backend/component/identifier/product.html.twig'
                                                with {product: item.product }%}{% endembed %}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.pricePerUnit|number_format(2, '.', ',') }}€</td>
                                            <td>{{ item.waste }}</td>
                                            <td>{{ item.subTotal|number_format(2, '.', ',') }}€</td>
                                            <td class="text-right">{{ item.total|number_format(2, '.', ',') }}€</td>
                                            <td class="text-right">{{ include('backend/invoice/item/_delete_form.html.twig') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5">Subtotal</th>
                                        <th class="text-right">{{ invoice.subTotal|number_format(2, '.', ',') }}€</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th colspan="5">Total</th>
                                        <th class="text-right">{{ invoice.total|number_format(2, '.', ',') }}€</th>
                                        <th></th>
                                    </tr>

                                </tfoot>
                            </table>
                        </div><!-- col -->


                        <div class="col-12">
                            <h3>Pagamentos</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Descrição</th>
                                        <th>Método</th>
                                        <th class="text-right">Valor</th>
                                        <th class="text-right">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in invoice.payments %}
                                        <tr>
                                            <td>{{ payment.date|date("d/m/Y") }}</td>
                                            <td>{{ payment.description }}</td>
                                            <td>{{ payment.method }}</td>
                                            <td class="text-right">{{ payment.amount|number_format(2, '.', ',') }}€</td>
                                            <td class="text-right">{{ include('backend/payment/payment/_delete_form.html.twig') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3">Total pago:</th>
                                        <th class="text-right">{{ invoice.totalPaid|number_format(2, '.', ',') }}€</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Por pagar:</th>
                                        <th class="text-right">{{ invoice.missingToPay|number_format(2, '.', ',') }}€</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- col -->
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('backend_invoice_invoice_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Voltar à lista</span>
                    </a>
                    <a href="{{ path('backend_invoice_invoice_edit', {'id': invoice.id}) }}"
                       class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                        <span class="text">Editar</span>
                    </a>
                    {{ include('backend/invoice/invoice/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
