{% extends 'backend/master.html.twig' %}

{% block title %}Funcionário {{ employee.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Funcionário
                        {% embed 'backend/component/identifier/employee.html.twig' with {employee: employee} %}{% endembed %}
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <strong>Nome: </strong>{{ employee.name }}<br />
                                <strong>Vencimento/Hora: </strong>{{ employee.hourlyWage|number_format(2, ',', '.') }}€<br />
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h3>Dias de trabalho</h3>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Entradas/Saídas</th>
                                        <th>Tempo</th>
                                        <th>Total</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for workDay in employee.workDays %}
                                        <tr>
                                            <td>{{ workDay.day|date("d-m-Y") }}</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Entrada</th>
                                                            <th>Saída</th>
                                                            <th>Hora</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for workInterval in workDay.workIntervals %}
                                                            {# @var workInterval \App\Entity\Employee\WorkInterval #}
                                                        <tr>
                                                            <td>{{ workInterval.start|date("H:i") }}</td>
                                                            <td>{{ workInterval.end|date("H:i") }}</td>
                                                            <td>{{ workInterval.hourlyWage|number_format(2, ',', '.') }}€</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>{{ workDay.workingTime|date("H") }}h {{ workDay.workingTime|date("i") }}m</td>
                                            <td>{{ workDay.amountToPay|number_format(2, ',', '.') }}€</td>
                                            <td>
                                                <a href="{{ path('backend_employee_work_day_edit', {'id': workDay.id}) }}"
                                                   class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                  <i class="fas fa-edit"></i>
                                                </span>
                                                </a>
                                                {{ include('backend/employee/work_day/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">Não foram encontrados resultados</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Dia</th>
                                        <th>Entradas/Saídas</th>
                                        <th>Tempo</th>
                                        <th>Total</th>
                                        <th>Acções</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <a href="{{ path('backend_employee_employee_index') }}" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Voltar à lista</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
